<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register : News Mate</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="../register/fonts/linearicons/style.css">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="../register/css/style.css">

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/raxraj/colorify/src/minified/colorify.min.css">
		
	</head>

	<body>
		

		<div class="wrapper">
			<div class="inner">
				
				<form action="/addUser" method="POST">
					<h3>New Account?</h3>
					<%if(messages.error){%>
						<div class="text-danger text-center "><%=messages.error%></div>
						<% } %>
					<%if(messages.success){%>
						<h3 class="cy-text-mt-green400 text-center "><%=messages.success%></h3>
						<% } %>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" id="name" name="name" class="form-control" placeholder="Full Name">
					</div>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" id="username" name="username" class="form-control" placeholder="Username">
					</div>
					<div class="form-holder">
						<span class="lnr lnr-envelope"></span>
						<input type="text" class="form-control" id="email" name="email" placeholder="E-Mail">
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" id="password" name="password" class="form-control" placeholder="Password">
					</div>
					<div class="form-holder">
						<span class="lnr lnr-star-half"></span>
						<input type="text" id="interests" name="interests" class="form-control" placeholder="Write your interests (Comma Separated)">
					</div>
					<div class="form-holder">
						<span class="lnr lnr-earth"></span>
						<input type="text" id="country" name="country" class="form-control" placeholder="Country">
					</div>
					<div class="form-holder">
						<span class="lnr lnr-earth"></span>
						<input type="text" id="city" name="city" class="form-control" placeholder="City">
					</div>

					<button type="submit" class="cy-btn btn-outline-mt-blue cy-btn-slide-right hover-bg-mt-blue">
						<span>Register</span>
						
					</button>
					<p>Already Registered? <a href="/">Login Here.</a> </p>

				</form>
			</div>
			
		</div>
		
		<script src="../register/js/jquery-3.3.1.min.js"></script>
		<script src="../register/js/main.js"></script>
	
	</body>
</html>